{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		th,
		td {
			width: 150px;
			border: solid #000 1px;
			text-align: center;
		}
		.form {
			background-color: #15172b;
			border-radius: 20px;
			box-sizing: border-box;
			height: 500px;
			padding: 20px;
			width: 320px;
		}
		.addBtn {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #1BD063;
			text-decoration: none;
			margin-bottom: 50px;
		}
		.fa-plus {
			color: white;
			font-size: 25px;
		}
		.fa-trash {
			color: red;
			font-size: 25px;
			margin-left: auto;
			margin-right: auto;
		}
		.totalGains {
			font-weight: bold;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{  app.user.username }}! ✅
		</h1>
		<a class="addBtn" href="{{ path('create_location') }}">
			<i class="fa-solid fa-plus"></i>
		</a>
		<table>
			<thead>
				<tr>
					<th>Nom du locataire</th>
					<th>Gain</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr>
						<td>{{ location.locataire }}</td>
						<td>{{ location.gain }}
							€</td>
						<td>
							{{ location.dateDebut |date('d/m/Y')}}
						</td>
						<td>
							{{ location.dateFin |date('d/m/Y') }}
						</td>
						<td>
							<a href="{{ path('delete_location', {id: location.id}) }}">
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="totalGains">
						Total des gains</td>
					<td>
						{% set totalGains = 0 %}<div>
							{% for location in locations %}
								{% set totalGains = totalGains + (location.gain ) %}
							{% endfor %}
						</div>
						{{ totalGains }}€
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>


		</table>
	</div>
{% endblock %}
